
:root {
  --color-h1-8: rgba(220,66,66,.8),;
  --color-h1-5: rgba(220,66,66,.5),;
}

/* $easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955); */


body {
    background:#111;
    /* font-family: 'Sans Serif', 'Dosis', Helvetica, Arial, sans-serif; */
  font-weight:600; 
}


h1 {
  font-family: sans-serif;
  text-transform:uppercase;
  color:white;
  font-size:6em;
  text-align:center;
  animation: neonGlow 2s infinite alternate;
  /* $easeInOutQuad; */
}


@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(220,66,66,.8),
                 0 0 60px  rgba(220,66,66,.8),
                 0 0 80px  rgba(220,66,66,.5),
                 0 0 100px rgba(220,66,66,.5),
                 0 0 140px rgba(220,66,66,.5),
                 0 0 200px rgba(220,66,66,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(220,66,66,.8),
                 0 0 30px rgba(220,66,66,.8),
                 0 0 40px rgba(220,66,66,.8),
                 0 0 50px rgba(220,66,66,.5),
                 0 0 80px rgba(220,66,66,.5);
  }
}

