@import url(./sec.css);
@import url(./anima.css);

/* ---------- VARIABLES --------- */
:root {
  --color-h1-8:
  --color-h1-5:
}

/* ---------- HERRAMIENTAS VISUALIZACIÓN ---------------- */

* {
  /* border: 0.5px solid white; */
}
header, header *{
  /* border: 0.5px solid white; */

}


/* ------------------- GENERAL  ------------------------------------*/



/* ------------------- HEADER  ------------------------------------*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 100vw;
}

#pulsa-cualquier-boton {
  margin-top: 50px;
}


.inactive {
  display: none;
}

#profile-section, #student-access, #sign-up-screen {
  display: none;
}


/* ------------------- FOOTER  ------------------------------------*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  margin:15px;
  bottom: 0;
  width: 100vw;
}

#social-media-hector {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
}